@import "@/styles/variables";

.footer {
  background-color: $background-light;
  color: $text-secondary;
  &__newsletter {
    background-color: $primary;
    padding: $spacing-xl 0;
    &-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: $spacing-lg;
    }
    &-form {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-md;
      margin-top: $spacing-md;
    }
    &-input {
      padding: $spacing-md;
      border: 1px solid $border-color;
      border-radius: $border-radius-lg;
      font-size: $font-size-md;
      width: 100%;
      max-width: 300px;
      background-color: $background-light;
      color: $color-white;
      &:focus {
        outline: none;
        border-color: $primary;
        box-shadow: 0 0 0 2px rgba($primary, 0.2);
      }
    }
    &-button {
      padding: $spacing-md $spacing-lg;
      background-color: $primary;
      color: $color-white;
      border: none;
      border-radius: $border-radius-lg;
      cursor: pointer;
      transition: $transition-base;
      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }

  .footer__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-xl;

    @media (min-width: $md-breakpoint) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .footer__section {
    h3 {
      font-size: $font-size-lg;
      font-weight: $font-weight-semibold;
      margin-bottom: $spacing-md;
      color: $text-primary;
    }

    p,
    a {
      font-size: $font-size-md;
      line-height: $line-height-base;
      color: $text-secondary;
      transition: $transition-base;

      &:hover {
        color: $color-primary;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li + li {
        margin-top: $spacing-sm;
      }
    }
  }

  .footer__bottom {
    margin-top: $spacing-2xl;
    padding-top: $spacing-xl;
    border-top: 1px solid $border-color;
    text-align: center;
    font-size: $font-size-md;
    color: $text-secondary;
  }
}
