@import "@/styles/variables";

.footer {
  background-color: $color-background;
  &__newsletter {
    background-color: $primary;
    padding: $spacing-xl 0;
    &-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: $spacing-lg;
    }
    &-form {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-md;
      margin-top: $spacing-md;
    }
    &-input {
      padding: $spacing-md;
      border: 1px solid $border-color;
      border-radius: $border-radius-lg;
      font-size: $font-size-md;
      width: 100%;
      max-width: 300px;
      background-color: $background-light;
      color: $color-white;
      &:focus {
        outline: none;
        border-color: $primary;
        box-shadow: 0 0 0 2px rgba($primary, 0.2);
      }
    }
    &-button {
      padding: $spacing-md $spacing-lg;
      background-color: $primary;
      color: $color-white;
      border: none;
      border-radius: $border-radius-lg;
      cursor: pointer;
      transition: $transition-base;
      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }
  &__content {
    background-color: $color-background;
    padding: $spacing-xl 0;
    &-body {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: $spacing-xl;
      .footer {
        &__section {
          flex: 1;
          &.appName {
            flex: 2;
            border-right: solid 1px $border-color;
            .footer__appName-title {
              font-size: $font-size-2xl;
              font-weight: $font-weight-semibold;
              color: $color-text;
              margin-bottom: $spacing-md;
            }
            .footer__appName-description {
              font-size: $font-size-base * 0.85;
              color: $color-text;
            }
          }
          .footer__title {
              font-size: $font-size-lg;
              font-weight: $font-weight-semibold;
              color: $color-text;
              margin-bottom: $spacing-md;
          }
        }
      }
    }
  }
  &__bottom {
    background-color: $color-background;
    padding-top: $spacing-xl;
    border-top: 1px solid $border-color;
    text-align: center;
    font-size: $font-size-md;
    color: $text-secondary;
  }
}
