.navbar {
  &__dropdown {
    &-button {
      @apply flex items-center space-x-1 hover:text-primary focus:outline-none;
      
      svg {
        @apply w-4 h-4 transition-transform;
        
        &.rotate {
          @apply rotate-180;
        }
      }
    }
    
    &-menu {
      @apply absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50;
      
      button {
        @apply block w-full text-left px-4 py-2 text-sm;
        
        &.active {
          @apply bg-primary text-white;
        }
        
        &:not(.active) {
          @apply text-gray-700 hover:bg-gray-100;
        }
      }
    }
  }
} 