@import 'variables';
@import 'reset';
@import 'globals';
@import 'mixin';
@import 'layout';

// Components
@import 'components/tripForm';
@import 'components/homeHero';
@import 'components/hero';
@import 'components/features';
@import 'components/destinations';
@import 'components/testimonials';
@import 'components/navbar';
@import 'components/footer';
@import 'components/tripPlanner';

// Pages
@import 'pages/home';