@import 'variables';
@import 'reset';
@import 'globals';

// Components
@import 'components/trip-form';
@import 'components/hero';
@import 'components/features';
@import 'components/navbar';

// Pages
@import 'pages/home';